{% extends 'base.html' %}
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <style>
        p{
            text-align: center;
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <p style="font-size: 200px;">&#128579;</p>
    <p>Ermmm....it looks like something went wrong. Go make a cup of 
        tea of coffee of something and make yourself comfortable. I will explain everything. It's gonna take kinda long.
    </p>
    {% endblock %}
</body>